<div class="container-fluid " style="background-color: #f1f5f9"><!-- pt-5 -->
    <div class="row mt-0">
        <div class="col-8 project">
            <div class="row pt-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row card-header card-header-danger">
                                <div class="col-10">Few Tickets Left</div>
                            </div>
                            <div class="row mt-2">
                                <b>{{eventDetails?.eventStart | date}}</b>
                            </div>


                            <div class="row mt-2">
                                <h1>{{eventDetails?.eventName}}</h1>
                            </div>


                            <hr>


                            <div class="row mt-2">
                                <h2><b><i class="fa fa-clock-o"></i> Date & Time </b></h2>
                                <span><b>Event Start: </b>{{eventDetails.eventStart | date}} </span>
                                <span><b>Event End: </b>{{eventDetails.eventEnd | date}} </span>
                            </div>

                            <div class="row mt-2">
                                <h2><b><i class="fa fa-map-marker"></i> Location </b></h2>
                                <span>{{eventDetails.location }} </span>
                            </div>

                            <!-- <div class="row mt-2">
                                <h2><b>Refund Policy</b></h2>
                                <span>{{eventDetails.refunds }} </span>
                            </div> -->

                            <div class="row mt-2">
                                <h2><b>Details</b></h2>
                                <span>{{eventDetails.description }} </span>
                            </div>

                            <div class="row mt-2">
                                <h2><b>Organizer</b></h2>
                                <span>{{eventDetails.organizer }} </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 filter pt-5">
            <div class="card">
                <div class="card-body">

                    <button *ngIf="!userRegistered" class="btn btn-primary" (click)="registerForEvent()">Register</button>
                    <button  *ngIf="userRegistered" class="btn btn-primary" (click)="unRegisterForEvent()">Un-register</button>

                </div>
            </div>



            <div class="card mt-2">
                <div class="card-body">

                    <h2>Other Events</h2>

                    <div *ngFor="let event of otherEvents">
                        <div class="card mt-2 ">
                            <!-- <img class="card-img-top" style="height:200px" [src]="event.imageUrl" alt="Card image"> -->
                            <div class="card-body">
                                <h4 class="card-title">{{event.eventName}}</h4>
                                <p class="card-text">{{event.eventStart | date}} - {{event.eventEnd | date}} 
                                </p>
                                <p class="card-text">{{event.location}}</p>
                                <a [routerLink]="'/event-detail/' + event.id" class="btn btn-primary">View</a><!-- `/event-detail/${eventId}` -->
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>