<div class="container-fluid" style="background-color: #f1f5f9; ">
    <h2>Vote for Political Parties</h2>
    <div class="row">
      <div class="col-3" *ngFor="let item of AllParties">
        <div class="card mt-2" >
          <img class="card-img-top" style="height:200px" [src]="item.imageURL" alt="Card image">
          <div class="card-body text-center">
            <hr>
            <h4 class="card-title text-center">{{item?.name}}</h4>
            <span >Total Votes: {{item?.vote.length}}</span>
            <hr>
            <div class="text-center">
              <button *ngIf="!item.vote.includes(loggedInUserID)" class="btn btn-primary" (click)="voteParty(item.id)">Vote</button>
              <button *ngIf="item.vote.includes(loggedInUserID)" class="btn btn-primary" (click)="unVoteParty(item.id)">Un-vote</button>
              <!-- <button class="btn btn-success" style="margin-right: 10px;" type="button" disabled *ngIf="spinner">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
              </button> -->
            </div>
            <div class="text-center">
               <!--  <a style="cursor: pointer;" >
                    <fa-icon [icon]="faArrowDown" class="fa-2xl" style="color:red" ></fa-icon>
                    <fa-icon [icon]="faArrowDown" class="fa-2xl" style="color:rgb(231, 229, 229)"></fa-icon>
                </a>
                5000 -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>