<div class="container-fluid " style="background-color: #f1f5f9"><!-- pt-5 -->
  <div class="row">
    <!-- <div class="alert alert-danger mt-2" *ngIf="allowedToVote">
      Please login to vote
    </div> -->
    
  </div>
  <div class="row mt-0">
    <div class="col-8 project">
      <!-- Search Bar -->
      <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        [(ngModel)]="searchProject">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="getSearchedProjects()">Search</button>

      </div>
      
      <div class="row pt-5" *ngFor="let project of projectList">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row card-header card-header-danger">
                <div class="col-1">
                  <!-- <span
                    *ngIf="project.IsActive == true"
                    class="badge bg-success"
                    >Active</span
                  >
                  <span
                    *ngIf="project.IsActive == false"
                    class="badge bg-secondary"
                    >In-Active</span
                  > -->
                </div>

                <div class="col-10"><b>Project: </b> {{ project?.name }}</div>
                <div class="col-1 text-end">
                  <!--  -->
                  <a [routerLink]="'/project-detail/' + project.projectId" style="color: white">
                    <fa-icon [icon]="faArrowUpRight"></fa-icon>
                  </a>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-4">
                  <b>Department</b>: {{ project?.department }}
                </div>
                <div class="col-4"><b>City</b>: {{ project?.city }}</div>
                <div class="col-4"><b>Budget</b>: € {{ project?.budget }}</div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <b>Description: </b>
                  <!-- <i class="fa fa-file-text-o" aria-hidden="true"></i> -->
                  <span class="text-muted">{{ project?.description | slice : 0 - 300 }}....<a
                      [routerLink]="'/project-detail/' + project.projectId">Read More</a></span>
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <b>Project Start: </b> {{ project?.projectStartDate | date }}
                  <br />
                  <b>Duration: </b> {{ project?.duration }}
                </div>
                <div class="col-6 text-end">
                  <!-- Up Vote -->
                  <a (click)="upVoteProject(project.projectId)" style="cursor: pointer;">
                    <fa-icon [icon]="faArrowUp" style="color:green"
                      *ngIf="project.upVotes.includes(loggedInUserID)"></fa-icon>
                    <fa-icon [icon]="faArrowUp" style="color:rgb(231, 229, 229)"
                      *ngIf="!project.upVotes.includes(loggedInUserID)"></fa-icon>
                  </a>
                  <span>{{ project?.upVotes?.length }}</span>

                  <!-- Down Vote -->
                  <a (click)="downVoteProject(project.projectId)" style="cursor: pointer;">
                    <fa-icon [icon]="faArrowDown" style="color:red"
                      *ngIf="project.downVotes.includes(loggedInUserID)"></fa-icon>
                    <fa-icon [icon]="faArrowDown" style="color:rgb(231, 229, 229)"
                      *ngIf="!project.downVotes.includes(loggedInUserID)"></fa-icon>
                  </a>
                  <span>{{ project?.downVotes.length }}</span>
                  <a [routerLink]="'/project-detail/' + project.projectId" class="badge bg-secondary pe-auto" style="list-style: none;" >
                    <fa-icon [icon]="faMessage"></fa-icon>
                    {{ project?.totalComments }}
                  </a>
                </div>
              </div>

              <!-- <div class="row">
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="margin-bottom: 0;">{{project.projectName}}
                                            </h6>
                                            Created At: {{project.projectCreatedDate}}
                                            <br>Created By: {{project.projectCreatedBy}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-end">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <i class="fa fa-suitcase" aria-hidden="true"></i> {{project.projectCity}}
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-inr" aria-hidden="true"></i> ${{project.projectBudget}}
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{project.projectDuration}}
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-12">
                                    <i class="fa fa-file-text-o" aria-hidden="true"></i> <span
                                        class="text-muted">{{project.projectDescription | slice:0-100}}....
                                        ReadMore</span>
                                </div>
                            </div>
                            <div class="row pt-1">
                                <div class="col-6">
                                    <button>Give Opinion</button>
                                </div>
                                <div class="col-6 text-end">
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                </div>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 filter pt-5">
      <div class="card">
          <div class="card-body">
              <button  class="btn btn-primary" (click)="createProject()">Create Project</button>            
          </div>
      </div>



      <div class="card mt-2">
          <div class="card-body">

              <h2>Upcoming Events</h2>

              <div *ngFor="let event of otherEvents">
                  <div class="card mt-2 ">
                      <!-- <img class="card-img-top" style="height:200px" [src]="event.imageUrl" alt="Card image"> -->
                      <div class="card-body">
                          <h4 class="card-title">{{event.eventName}}</h4>
                          <p class="card-text">{{event.eventStart | date}} - {{event.eventEnd | date}} 
                          </p>
                          <p class="card-text">{{event.location}}</p>
                          <a [routerLink]="'/event-detail/' + event.id" class="btn btn-primary">View</a><!-- `/event-detail/${eventId}` -->
                      </div>
                  </div>
              </div>


          </div>
      </div>
  </div>
    
  </div>
</div>