<div *ngIf="showLogin">
  <h1 mat-dialog-title>Login</h1>
  <div>Don't have an account ? <button type="button" (click)="openSignUp()" class="btn btn-link">Sign Up</button></div>
  <div mat-dialog-content>
    <form [formGroup]="loginForm">
      <div class="form-group mt-2">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter Email Address">
        <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Enter a
          Valid Email</small>
      </div>
      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
        <small class="text-danger"
          *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"></small>
      </div>

      <!-- <button type="submit" class="btn btn-primary mt-2" (click)="onLogin()">Submit</button> -->
    </form>

  </div>

  <div mat-dialog-actions>
    <div class="form-btn">
      <button class="btn btn-success" style="margin-right: 10px;" (click)="onLogin()" *ngIf="!spinner">Submit</button>
      <button class="btn btn-success" style="margin-right: 10px;" type="button" disabled *ngIf="spinner">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>
      <button type="button" class="btn btn-danger" (click)="closepopup()">Cancel</button>
      <div class="alert alert-danger mt-2" *ngIf="incompleteForm">
        Please fill out login details
      </div>
    </div>


  </div>
</div>

<!-- <div class="container mt-2">
  <h2>Login </h2>
  <form [formGroup]="loginForm">
    <div class="form-group mt-2">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter Email Address">
      <small class="text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Enter a
        Valid Email</small>
    </div>
    <div class="form-group mt-2">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
      <small class="text-danger"
        *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"></small>
    </div>

    <button type="submit" class="btn btn-primary mt-2" (click)="onLogin()">Submit</button>
  </form>
    <span>Don't have an account ? <a routerLink="/citizen-register">Sign Up</a></span>
</div> -->