<h1 mat-dialog-title>{{inputData.title}}</h1>

<div mat-dialog-content>
    
    <form [formGroup]="eventRegistrationForm">
        <div class="alert alert-danger" *ngIf="incompleteForm">
            Please fill out form correctly
          </div>
          <div class="alert alert-warning" *ngIf="soldOut">
            All tickets sold out.
          </div>
        <div class="row">
            <div class="col">
                <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name">
                <small class="text-danger" *ngIf="eventRegistrationForm.get('firstName')?.invalid && eventRegistrationForm.get('firstName')?.touched">First Name is required</small>
            </div>
            <div class="col">
                <input type="text" formControlName="lastName" class="form-control" id="firstName" placeholder="Last Name">
                <small class="text-danger" *ngIf="eventRegistrationForm.get('lastName')?.invalid && eventRegistrationForm.get('lastName')?.touched">Last Name is required</small>
            </div>
          </div>

        <div class="row mt-3">
            <div class="col">
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email address">
                <small class="text-danger" *ngIf="eventRegistrationForm.get('email')?.invalid && eventRegistrationForm.get('email')?.touched">Email is required</small>
            </div>
            <div class="col">
                <input type="text" formControlName="contactNumber" class="form-control" id="contactNumber" placeholder="Contact Number">
                <small class="text-danger" *ngIf="eventRegistrationForm.get('contactNumber')?.invalid && eventRegistrationForm.get('contactNumber')?.touched">Contact Number is required</small>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <input type="text" formControlName="idCardNumber" class="form-control" id="idCardNumber" placeholder="ID Card Number">
                
                <small class="text-danger" *ngIf="eventRegistrationForm.get('idCardNumber')?.invalid && eventRegistrationForm.get('idCardNumber')?.touched">ID Card Number</small>
            </div>
            <span>Please recheck as access will be provided for this ID.</span>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <!-- <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="submit()">Submit</button> -->
    <div class="form-btn">
        <button class="btn btn-success" style="margin-right: 10px;" (click)="submit()" *ngIf="!spinner">Submit</button>
        <button class="btn btn-success" style="margin-right: 10px;" type="button" disabled *ngIf="spinner">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>

    <button type="button" class="btn btn-danger" (click)="closepopup()">Cancel</button>
</div>
