<div class="container">
    <div class="selection">
      <div class="dropdown">
        <select id="dropdownOptions" [(ngModel)]="selectedProjectId">
          <option *ngFor="let project of dropdownOptions" [value]="project.id">{{ project.name }}</option>
        </select>
      </div>
  
      <button class="btn-show-graph" (click)="showGraph()">Show Graph</button>
    </div>
  
    <div class="graph-container">
      <div id="graph" class="graph">
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
      </div>
    </div>
  </div>