<div class="container-fluid" style="background-color: #f1f5f9">
  <h2>Dashboard</h2>
  <div class="graph-container">
    <div id="graph" class="graph">
      <!-- Bar Chart -->
      <h2 class="text-center my-2">Project Opinions</h2>
      <p-chart height="300px" type="bar" [data]="barData" [options]="barOptions"></p-chart>
    </div>
    <div id="doughnutGraph" class="graph">
      <!-- Doughnut Chart -->
      <h2 class="text-center my-2">Excellent Reviews</h2>
      <p-chart type="doughnut" [data]="doughnutData" [options]="doughnutOptions"></p-chart>
    </div>
  </div>
</div>
