.container {
  max-width: 100rem;
}

nav {
  background-color: navy;
  /* Set navy blue background color for the navigation bar */
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #fff;
  /* Set white text color */
  padding: 20px 30px;
  /* Add more padding */
  text-decoration: none;
  transition: background-color 0.3s;
}

nav li a:hover {
  background-color: #1455a3;
  /* Change background color on hover */
}

.logo-container {
  text-align: center;
  margin-top: 50px;
}

.logo {
  font-size: 27px;
  font-weight: bold;
  color: #ffffff;
  /* White */
}

.rounded-square {
  width: 120px;
  border-radius: 20px;
  background-color: transparent;
  border: 3px solid #ff0000;
  /* Red */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-bottom: 56px;
}

footer {
  background-color: navy;
  color: white;
  padding: 10px 0;
  margin-top: 1rem;
}

footer h5 {
  color: white;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer p {
  margin-bottom: 10px;
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  footer {
    padding: 20px 0;
  }

  footer h5 {
    margin-top: 0;
  }
}

.container1 {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-group input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}
.form-group.text-center {
  text-align: center;
}
.form-group.text-center a {
  text-decoration: none;
  color: #007bff;
}
.login-button {
  margin-top: 0.5rem; /* Adjust the padding as needed */
  margin-bottom: 1.2rem; /* Adjust the padding as needed */
  margin-left: 0.5rem;
}
