<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container">

        <!-- <a class="navbar-brand" routerLink="projects">
            <img src="../assets/Sample_logo.png" alt="" class="d-inline-block align-text-top">
            TEAM14

        </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="quiz">Quiz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="projects">Projects</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/project-listing">My Projects</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/new-project">Create New Project</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/my-activity">My Activity</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/govt-dashboard">Dashboard</a>
                </li>

            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-primary round-button mx-2" type="button"
                    routerLink="login">Login</button>


                <button class="btn btn-success round-button mx-2" type="button" routerLink="citizen-register">User Sign
                    Up</button>

                <button *ngIf="!isLoggedIn" class="btn btn-success round-button mx-2" type="button"
                    routerLink="govtEmp-register">Employee Sign Up</button>
                <button *ngIf="isLoggedIn" class="btn btn-link" type="button">{{userInfo.email}} </button>
                <button *ngIf="isLoggedIn" class="btn btn-outline-primary round-button mx-2" type="button"
                    (click)="onLogout()">Logout</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid body-background ">
    <router-outlet></router-outlet>
</div>