<div class="container">
    <h1>Citizen Regisration Form</h1>
    <form [formGroup]="citizenRegForm">
        <div class="form-group mt-2 ">
          <label for="firstName">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="Enter First Name">
          <small class="text-danger" *ngIf="citizenRegForm.get('firstName')?.invalid && citizenRegForm.get('firstName')?.touched">First Name is required</small>
  
        </div>
        <div class="form-group mt-2 mt-2">
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Enter Last Name">
          <small class="text-danger" *ngIf="citizenRegForm.get('lastName')?.invalid && citizenRegForm.get('lastName')?.touched">Last Name is required</small>
        </div>
        <div class="form-group mt-2">
          <label for="dob">Date Of Birth</label>
          <input type="date" formControlName="dob" class="form-control" id="dob" placeholder="Enter Date of Birth">
          <!-- <small class="text-danger" *ngIf="citizenRegForm.get('dob')?.errors?.['required'] || citizenRegForm.get('lastName')?.touched">Date of Birth is required</small> -->
        </div>
        <div class="form-group mt-2">
          <label for="city">City</label>
          <ng-multiselect-dropdown 
            [placeholder]="'Select City'"
            [settings]="cityDropdownSettings" 
            [data]="cities" 
            formControlName="city"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)">
           </ng-multiselect-dropdown>
           <small class="text-danger" *ngIf="citizenRegForm.get('city')?.invalid && citizenRegForm.get('city')?.touched">City is required</small>
        </div>
        <div class="form-group mt-2">
          <label for="passportNumber">Passport Number</label>
          <input  type="text" class="form-control" formControlName="passportNumber" id="passportNumber" placeholder="Enter Passport Number">
          <small class="text-danger" *ngIf="citizenRegForm.get('passportNumber')?.invalid && citizenRegForm.get('passportNumber')?.touched">Passport Number is required</small>
        </div>
        <div class="form-group mt-2">
          <label for="contactNumber">Contact Number</label>
          <input  type="text" class="form-control" formControlName="contactNumber" id="contactNumber" placeholder="Enter Contact Number">
          <small class="text-danger" *ngIf="citizenRegForm.get('contactNumber')?.invalid && citizenRegForm.get('contactNumber')?.touched">Valid Contact Number is required</small>
        </div>
        <div class="form-group mt-2">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter Email Address">
          <small class="text-danger" *ngIf="citizenRegForm.get('email')?.invalid && citizenRegForm.get('email')?.touched">Enter a Valid Email</small>
        </div>
        <div class="form-group mt-2">
          <label for="password">Password</label>
          <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
          <small class="text-danger" *ngIf="citizenRegForm.get('password')?.invalid && citizenRegForm.get('password')?.touched">Password must be min 5 characters and max 10 characters</small>
        </div>
        <!-- <div class="form-group mt-2 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I agree to terms & conditions</label>
        </div> -->
        <button type="submit" class="btn btn-primary mt-2" style="margin-right: 10px;" (click)="registerCitizen()">Submit</button>
        <button type="submit" class="btn btn-danger mt-2" (click)="cancelRegistration()">Cancel</button>
      </form>
</div>