<div class="card container pt-6">
    <div class="row">
      <!-- <div class="col-3 bg-white">
        Image
      </div> -->
      <div class="col-12 content">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Create an Event</h4>
        </div>
  
        <form [formGroup]="createEventForm">
          <div class="form-group mt-2 ">
            <label for="eventName">Event Name</label>
            <input type="text" formControlName="eventName" class="form-control" id="eventName" placeholder="Enter Event Name">
            <small class="text-danger" *ngIf="createEventForm.get('eventName')?.invalid && createEventForm.get('eventName')?.touched">Event Name is required</small>
          </div>

          <div class="form-group mt-2 ">
            <label for="eventStart">Event Start</label>
            <input type="datetime-local" formControlName="eventStart" class="form-control" id="eventStart" placeholder="Enter Event Start">
            <small class="text-danger" *ngIf="createEventForm.get('eventStart')?.invalid && createEventForm.get('eventStart')?.touched">Event Start is required</small>
          </div>

          <div class="form-group mt-2 ">
            <label for="eventEnd">Event End</label>
            <input type="datetime-local" formControlName="eventEnd" class="form-control" id="eventEnd" placeholder="Enter Event End">
            <small class="text-danger" *ngIf="createEventForm.get('eventEnd')?.invalid && createEventForm.get('eventEnd')?.touched">Event End is required</small>
          </div>

          <div class="form-group mt-2 ">
            <label for="location">Event Location</label>
            <input type="text" formControlName="location" class="form-control" id="location" placeholder="Enter Event Location">
            <small class="text-danger" *ngIf="createEventForm.get('location')?.invalid && createEventForm.get('location')?.touched">Event Location is required</small>
          </div>

          <div class="form-group mt-2 ">
            <label for="capacity">Event Capacity</label>
            <input type="number" formControlName="capacity" class="form-control" id="capacity" placeholder="Enter Event Capacity">
            <small class="text-danger" *ngIf="createEventForm.get('capacity')?.invalid && createEventForm.get('capacity')?.touched">Event Capacity is required</small>
          </div>

          <div class="form-group mt-2 ">
            <label for="organizer">Event Organizer</label>
            <input type="text" formControlName="organizer" class="form-control" id="organizer" placeholder="Enter Event Organizer">
            <small class="text-danger" *ngIf="createEventForm.get('organizer')?.invalid && createEventForm.get('organizer')?.touched">Event Organizer is required</small>
          </div>


          <!-- <div class="form-group mt-2 ">
            <label for="organizer">Featured Image</label>
            <input type="file" class="form-control" (change)="uploadImage($eve)">
           
          </div> -->

          <div class="form-group mt-2 ">
            <label for="description">Event Description</label>
            <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
            <small class="text-danger" *ngIf="createEventForm.get('description')?.invalid && createEventForm.get('description')?.touched">Event Description is required</small>
          </div>

          <!-- Action Buttons -->
          <!-- <button type="submit" class="btn btn-primary mt-2" style="margin-right: 10px;" (click)="submit()">Submit</button>
          <button type="submit" class="btn btn-danger mt-2" (click)="reset()">Reset</button> -->

          <div class="form-btn">
            <button class="btn btn-success" style="margin-right: 10px;" (click)="submit()" *ngIf="!spinner">Submit</button>
            <button class="btn btn-success" style="margin-right: 10px;" type="button" disabled *ngIf="spinner">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
            <button type="button" class="btn btn-danger" (click)="reset()">Reset</button>
            <div class="alert alert-danger mt-2" *ngIf="incompleteForm">
              Please fill out form correctly
            </div>
          </div>
  
          
        </form>
        
      </div>
    </div>
  </div>