@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
 body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 min-height: 100vh;
	 line-height: 24px;
	 font-family: "Inter";
	 font-style: normal;
	 font-weight: 400;
	 color: #585757;
}
 .wrapper {
	 display: flex;
	 flex-direction: column;
	 width: 744px;
}
 .wrapper .comment {
	 display: grid;
	 gap: 20px;
}
 .wrapper .comment .content {
	 display: grid;
	 grid-template-columns: auto 1fr 110px;
	 align-items: flex-start;
	 gap: 16px;
	 flex: 1;
}
 .wrapper .comment .content .avatar {
	 height: 48px;
	 width: 48px;
}
 .wrapper .comment .content .avatar img {
	 max-width: 100%;
	 border-radius: 999px;
	 object-fit: cover;
}
 .wrapper .comment .content .rate {
	 gap: 8px;
	 display: flex;
	 align-items: center;
}
 .wrapper .comment .content .rate .value {
	 font-weight: 500;
	 font-size: 13px;
	 line-height: 20px;
	 text-align: center;
}
 .wrapper .comment .content .rate .value.green {
	 color: #00ba34;
}
 .wrapper .comment .content .rate .value.red {
	 color: #e92c2c;
}
 .wrapper .comment .content .rate .btn {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border: 1px solid #e8e8e8;
	 border-radius: 999px;
	 width: 32px;
	 height: 32px;
}
 .wrapper .comment .content .rate .btn:hover {
	 border-color: #969696;
}
 .wrapper .comment .content-comment {
	 flex: 1;
	 display: block;
}
 .wrapper .comment .content-comment .user {
	 gap: 12px;
	 margin-bottom: 6px;
	 align-items: center;
	 display: flex;
}
 .wrapper .comment .content-footer {
	 margin-top: 12px;
	 gap: 12px;
	 display: flex;
	 align-items: center;
}
 .wrapper .subcomment {
	 display: flex;
	 align-items: flex-start;
}
 .wrapper .subcomment .icon {
	 width: 48px;
	 height: 48px;
	 color: #969696;
	 display: flex;
	 margin-right: 16px;
	 align-items: center;
	 justify-content: center;
}
 .wrapper .subcomment .other_comments {
	 flex: 1;
	 display: grid;
	 gap: 20px;
}
 h5 {
	 color: #1c1c1c;
	 font-weight: 500;
	 font-size: 16px;
	 line-height: 24px;
}
 .is-mute {
	 font-size: 12px;
	 line-height: 16px;
	 letter-spacing: 0.04em;
	 text-transform: uppercase;
	 color: #969696;
}
 button {
	 appearance: none;
	 background: transparent;
	 outline: 0;
	 border: 0;
	 margin: 0;
	 padding: 0;
	 font: inherit;
	 cursor: pointer;
	 transition: 0.2s ease;
}
 .btn {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 color: #1c1c1c;
	 padding: 4px 8px;
	 font-size: 16px;
	 background: transparent;
	 gap: 6px;
	 border-radius: 8px;
}
 .btn i {
	 font-size: 16px;
	 color: #969696;
}
 .btn-outline {
	 background: transparent;
	 border: 1px solid #e8e8e8;
	 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
}
 .btn:hover {
	 border-color: #969696;
}
 