<div style="padding-top: 82px; display: flex;">
    <div id="sidebar" style="width: 20%;">
        <div>
             <div class="event-card">
            <div class="event-info" style="display: flex;">
            <div style= "width: 13%; margin-top: 12px;">
            <h1 style="margin-bottom: -7px;">23</h1>
                <h4>
                MAR
                </h4>
            </div>
                
                <div style="margin-left: 40px;">
                 <p>Tom Alter and Dave Toennies</p>
                <p>Sat, 6:00–10:00 p.m.</p>
                <p>Infinity Hall and Sidebar</p>
                </div>
               
            </div>
    
            <div class="ticket-info" style="margin-left: 40px">
                <button id="minus" onclick="decrease()">-</button>
                <input type="text" style="width: 32px;" id="quantity" value="0">
                <button id="plus" onclick="increase()">+</button>
                <button id="getTickets">Get Tickets</button>
            </div>
        </div>
        </div>
<br />
        <div>
            <div class="event-card">
           <div class="event-info" style="display: flex;">
           <div style= "width: 13%; margin-top: 12px;">
           <h1 style="margin-bottom: -7px;">23</h1>
               <h4>
               MAR
               </h4>
           </div>
               
               <div style="margin-left: 40px;">
                <p>Tom Alter and Dave Toennies</p>
               <p>Sat, 6:00–10:00 p.m.</p>
               <p>Infinity Hall and Sidebar</p>
               </div>
              
           </div>
   
           <div class="ticket-info" style="margin-left: 40px">
               <button id="minus" onclick="decrease()">-</button>
               <input type="text" style="width: 32px;" id="quantity" value="0">
               <button id="plus" onclick="increase()">+</button>
               <button id="getTickets">Get Tickets</button>
           </div>
       </div>
       </div>
       
        
    </div>
<div id="home-content" class="home container-fluid mt-10 " style="padding-top: 0; width: 67%;">
        <!-- <div class="post">
        <h2>Post Title</h2>
        <p>Posted by: User123 | 10 hours ago</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit....</p>
    </div>
    <aside class="sidebar">
    </aside> -->
    <div>
         <div class="card">
            <div class="card-header">
                <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_3.jpg"
                    alt="Profile Picture" class="profile-pic">
                <div class="user-info">
                    <p>Jocelyn Bator</p>
                    <span>Yesterday at 5:06 PM</span>
                </div>
            </div>
            <!-- <img src="https://th.bing.com/th/id/OIP.w2Mq5q0F70XOfoJi6ePRYwHaE6?rs=1&pid=ImgDetMain" alt="Building Image" class="post-image"> -->
            <p class="post-text">Outlines keep you honest. They stop you from indulging in poorly thought-out metaphors
                about driving and keep you focused on the overall structure of your post.</p>
            <div class="reactions">
                <span class="reaction-count">24</span>
                <button class="button">
                    <img src="https://cdn4.iconfinder.com/data/icons/web-ui-ux/32/044-Comment-512.png" alt="Like Icon"
                        class="reaction-icon">
                </button>

                <span class="reaction-count">75</span>
                <img src="https://static.vecteezy.com/system/resources/previews/000/285/139/original/heart-symbol-of-love-and-valentine-s-day-flat-red-icon-isolated-on-white-background-vector-illustration-vector.jpg"
                    alt="Heart Icon" class="reaction-icon">
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_3.jpg"
                    alt="Profile Picture" class="profile-pic">
                <div class="user-info">
                    <p>Jocelyn Bator</p>
                    <span>Yesterday at 5:06 PM</span>
                </div>
            </div>
            <!-- <img src="https://th.bing.com/th/id/OIP.w2Mq5q0F70XOfoJi6ePRYwHaE6?rs=1&pid=ImgDetMain" alt="Building Image" class="post-image"> -->
            <p class="post-text">Outlines keep you honest. They stop you from indulging in poorly thought-out metaphors
                about driving and keep you focused on the overall structure of your post.</p>
            <div class="reactions">
                <span class="reaction-count">24</span>
                <button class="button">
                    <img src="https://cdn4.iconfinder.com/data/icons/web-ui-ux/32/044-Comment-512.png" alt="Like Icon"
                        class="reaction-icon">
                </button>

                <span class="reaction-count">75</span>
                <img src="https://static.vecteezy.com/system/resources/previews/000/285/139/original/heart-symbol-of-love-and-valentine-s-day-flat-red-icon-isolated-on-white-background-vector-illustration-vector.jpg"
                    alt="Heart Icon" class="reaction-icon">
            </div>
        </div>
    </div>
       
        
    </div>
    <div>
        <button rpl="" class="rounded-square-button" data-testid="create-post">
        <span class="flex items-center justify-center">
            <span class="flex mr-xs"><svg style="margin-top: -4px;
                margin-right: 8px;" rpl="" fill="currentColor" height="20" icon-name="add-outline"
                    viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 9.375h-8.375V1h-1.25v8.375H1v1.25h8.375V19h1.25v-8.375H19v-1.25Z"></path>
                </svg></span>
            <span class="flex items-center gap-xs">Create post</span>
        </span>

    </button> 
    </div>
   
</div>