<div class="container">
  <div class="row">
    <!-- <div class="col-3 bg-white">
      Image
    </div> -->
    <div class="col-12">
      <h3 class="my-2">Create a new Project</h3>
      <form [formGroup]="newProjectForm">
        <div class="form-group mt-2 ">
          <label for="name">Project Name</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Name">
          <small class="text-danger" *ngIf="newProjectForm.get('name')?.invalid && newProjectForm.get('name')?.touched">Name is required</small>
        </div>

        <!-- Department -->
        <div class="form-group mt-2 ">
          <label for="department">Project Department</label>
          <select class="form-select" id="department" formControlName="department">
            <option selected disabled value="null">Select Department</option>
            <option *ngFor="let item of departmentList" [value]="item.name">{{item.name}}</option>
          </select>
          <small class="text-danger" *ngIf="newProjectForm.get('department')?.invalid && newProjectForm.get('department')?.touched">Department is required</small>
        </div>


        <!-- City -->
        <div class="form-group mt-2 ">
          <label for="city">Project City</label>
          <select class="form-select" id="city" formControlName="city">
            <option selected disabled value="null">Select City</option>
            <option *ngFor="let item of cities" [value]="item.name">{{item.name}}</option>
          </select>
          <small class="text-danger" *ngIf="newProjectForm.get('city')?.invalid && newProjectForm.get('city')?.touched">City is required</small>
        </div>

        

        <!-- Duration -->
        <div class="form-group mt-2 ">
          <label for="duration">Project Duration</label>
          <span> (Specify in months or year)</span>
          <input type="text" formControlName="duration" class="form-control" id="duration" placeholder="Enter Duration">
          <small class="text-danger" *ngIf="newProjectForm.get('duration')?.invalid && newProjectForm.get('duration')?.touched">Duration is required</small>
        </div>

        <!-- Budget -->
        <div class="form-group mt-2 ">
          <label for="budget">Project Budget</label>
          <input type="text" formControlName="budget" class="form-control" id="budget" placeholder="Enter Budget">
          <small class="text-danger" *ngIf="newProjectForm.get('budget')?.invalid && newProjectForm.get('budget')?.touched">Budget is required</small>
        </div>

        <!-- project start date -->
        <div class="form-group mt-2 ">
          <label for="projectStartDate">Project Start Date</label>
          <input type="date" formControlName="projectStartDate" class="form-control" id="dob" placeholder="Enter Date">
          <small class="text-danger" *ngIf="newProjectForm.get('projectStartDate')?.invalid && newProjectForm.get('projectStartDate')?.touched">Start Date is required</small>
        </div>

        <!-- Description -->
        <div class="form-group mt-2 ">
          <label for="description">Project Description</label>
          <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
          <small class="text-danger" *ngIf="newProjectForm.get('description')?.invalid && newProjectForm.get('description')?.touched">Description is required</small>
        </div>

        <!-- Action Buttons -->
        <button type="submit" class="btn btn-primary mt-2" style="margin-right: 10px;" (click)="onCreateProject()">Submit</button>
        <button type="submit" class="btn btn-danger mt-2" (click)="reset()">Reset</button>
      </form>
    </div>
  </div>
</div>